<div *ngIf="editStudent">
  <ul>
    <li> Id : {{editStudent.id}} </li>
    <li> Name : {{editStudent.firstName}} {{editStudent.lastName}}</li>
    <li> Github : {{editStudent.githubUsername}} </li>
    <li> Cohort : {{editStudent.cohort.id}} </li>
    <li> Email : {{editStudent.email}} </li>
    <li> Accepted : {{editStudent.accepted}} </li>
    <li> Employed : {{editStudent.employed}} </li>

    <li> Deposit Paid : {{editStudent.depositPaid}} </li>

    <li> GI Bill : {{editStudent.gibill}} </li>
    <li> VETTEC : {{editStudent.vettec}} </li>
    <li> Needs Loaner : {{editStudent.needsLoanerLaptop}} </li>
    <li> Open to Relocation : {{editStudent.openToRelocation}} </li>

    <br>
      <button (click)='setEditStudent()'>  Edit Student</button>
      <br>

      <!-- <li>Student Address : {{studentProfile.studentAddresses}} </li> -->
      <!-- <li>Number of Applications : {{studentProfile.applications}} </li> -->
    </ul>
  </div>

  <br>
  <div *ngIf='upStudent'>
    <form>
      <ul>
        <br>
        <li> <input type="text" name="id" placeholder="ID" [(ngModel)]="upStudent.id"></li>
        <li> <input type="text" name="firstName" placeholder="First Name" [(ngModel)]="upStudent.firstName"></li>
        <li> <input type="text" name="lastName" placeholder="Last Name" [(ngModel)]="upStudent.lastName"></li>
        <li> <input type="text" name="email" placeholder="Email" [(ngModel)]="upStudent.email"></li>
        <li> <input type="text" name="githubUsername" placeholder="GitHub" [(ngModel)]="upStudent.githubUsername"></li>
        <li> Employed: <input type="checkbox" name="Employed" [(ngModel)]="upStudent.employed"></li>
        <li> Needs Loaner Laptop: <input type="checkbox" name="Needs Loaner Laptop"
          [(ngModel)]="upStudent.needsLoanerLaptop"></li>
          <li> Open to Relocation: <input type="checkbox" name="Open to Relocation"
            [(ngModel)]="upStudent.openToRelocation"></li>
            <button (click)="updateStudent()"> Update Student </button>
            <button (click)='cancelEditStudent()'>  Cancel</button>
    </ul>
  </form>
</div>
