<div name='cohortsDiv'>
  <table class='table table-striped table-bordered table-sm'>
    <thead class='thead-dark'>
      <tr>
        <th> ID </th>
        <th> Start Date</th>
        <th> End Date </th>
        <th> Name </th>
        <th> Deadline Date </th>
        <th> Days Left </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor='let cohort of cohorts' (click)='listStudents(cohort)'>
        <td> {{ cohort.id }} </td>
        <td> {{ cohort.startDate | date }}</td>
        <td> {{ cohort.endDate | date }}</td>
        <td> {{ cohort.name }}</td>
        <td> {{ deadline(cohort) | date }}</td>
        <td> {{ daysLeft() | number: '1.0-0'}}</td>
      </tr>
    </tbody>
  </table>

  <table name="studentsTable" class='table table-striped table-bordered table-sm'>
    <thead class='thead-dark'>
      <tr>
        <th> First Name </th>
        <th> Last Name </th>
        <th> Email </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let student of students'>
        <td> {{ student.firstName }}</td>
        <td> {{ student.lastName }}</td>
        <td> {{ student.email }}</td>
      </tr>
    </tbody>
  </table>
</div>
