<div>
  <table class="table table-striped table-hover" >
    <thead class="thead thead-dark">
      <th>Application ID</th>
      <th>Company</th>
      <th>Location</th>
      <th>Position</th>
      <th>Job Description</th>
      <th>Interest Level</th>
      <th>Progress</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let app of apps">
        <td>{{ app.id }}</td>
        <td>{{ app.company.name }}</td>
        <td>{{ app.company.companyLocations[0].city}}, {{ app.company.companyLocations[0].state}}</td>
        <td>{{ app.position}}</td>
        <td>{{ app.descriptionURL}}</td>
        <td>{{ app.interestLevel}}</td>
        <td>{{ app.progress | json }}</td>
        <td><button class='btn btn-secondary' (click)='openModalForm()'>Update</button></td>
      </tr>
    </tbody>
  </table>
</div>

<app-form-modal #modal></app-form-modal>
