<div class="border border-primary">
  <p>Admin Component</p>
  <!-- All Admin centric components below -->
  <app-register></app-register>
  <app-cohort-create></app-cohort-create>
  <app-cohort-profile></app-cohort-profile>
  <app-student-profile></app-student-profile>
  <app-admin-profile></app-admin-profile>
  <app-hardmode-countdown></app-hardmode-countdown>
  <app-messaging></app-messaging>
  <app-application-status></app-application-status>
  <app-statistics></app-statistics>


  <!-- All Admin centric components above -->
</div>

