<div class="border border-primary" *ngIf="checkRole() == 'ADMIN'">
  <p>Admin Component</p>
  <!-- All Admin centric components below -->
  <app-register></app-register>
  <app-cohort></app-cohort>
  <app-cohort-profile></app-cohort-profile>
  <app-student-profile></app-student-profile>
  <app-admin-profile></app-admin-profile>
  <app-messaging></app-messaging>
  <app-application-status></app-application-status>
  <app-statistics></app-statistics>
  <!-- All Admin centric components above -->
</div>


